<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_passau.fim.eislab.pme.schnuchel.lectureapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LecturesOverviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlidesOverviewActivity"
            android:label="@string/title_activity_slides_overview" >
        </activity>
        <activity
            android:name=".SlideDetailActivity"
            android:label="@string/title_activity_slide_detail" >
        </activity>
    </application>

</manifest>
